<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81337669726-hp90nubggu84b3474ip2fqv05752m5mo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81337669726-hp90nubggu84b3474ip2fqv05752m5mo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>81337669726-2m4o04kipm7mq0vjfjvhdtc4aibejqqf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFAul-b6J78zJEdRsaPLzoypSEdiCvRkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>81337669726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edgeflySuperAdmin</string>
	<key>PROJECT_ID</key>
	<string>edgefly-academy-9b88f</string>
	<key>STORAGE_BUCKET</key>
	<string>edgefly-academy-9b88f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81337669726:ios:503b8d110adff2f6d7fccf</string>
</dict>
</plist>